In [16]:
import pandas as pd
import numpy as np
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [17]:
data = pd.read_csv("covid_vaccine_statewise.csv")

In [18]:
data_required = data[['Updated On', 'State', 'Total Doses Administered', 'First Dose Administered', 'Second Dose Administered', 'Male(Individuals Vaccinated)', 'Female(Individuals Vaccinated)']]
data_required

,Updated On,State,Total Doses Administered,First Dose Administered,Second Dose Administered,Male(Individuals Vaccinated),Female(Individuals Vaccinated)
0,16/01/2021,India,48276.000,48276.000,0.000,23757.000,24517.000
1,17/01/2021,India,58604.000,58604.000,0.000,27348.000,31252.000
2,18/01/2021,India,99449.000,99449.000,0.000,41361.000,58083.000
3,19/01/2021,India,195525.000,195525.000,0.000,81901.000,113613.000
4,20/01/2021,India,251280.000,251280.000,0.000,98111.000,153145.000
...,...,...,...,...,...,...,...
7840,11/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN
7841,12/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN
7842,13/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN
7843,14/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN
7844,15/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN

In [19]:
data_male_female = pd.DataFrame(data_required[['Male(Individuals Vaccinated)', 'Female(Individuals Vaccinated)']])

In [20]:
data_states = pd.DataFrame(data_required[['State', "First Dose Administered", 'Second Dose Administered']])

In [21]:
data_male_female = data_male_female.dropna(axis=0)
data_male_female

     Male(Individuals Vaccinated)  Female(Individuals Vaccinated)
0                       23757.000                       24517.000
1                       27348.000                       31252.000
2                       41361.000                       58083.000
3                       81901.000                      113613.000
4                       98111.000                      153145.000
..                            ...                             ...
155                 121366817.000                   103804672.000
156                 125704054.000                   107542051.000
157                 128567271.000                   110074369.000
158                 131919150.000                   112980429.000
159                 134941971.000                   115668447.000

[160 rows x 2 columns]

In [22]:
data_states = data_states.dropna(axis=0)
data_states

            State  First Dose Administered  Second Dose Administered
0           India                48276.000                     0.000
1           India                58604.000                     0.000
2           India                99449.000                     0.000
3           India               195525.000                     0.000
4           India               251280.000                     0.000
...           ...                      ...                       ...
7834  West Bengal             22401043.000               8970131.000
7835  West Bengal             22745949.000               9028137.000
7836  West Bengal             22959053.000               9070272.000
7837  West Bengal             23017864.000               9080904.000
7838  West Bengal             23257417.000               9132961.000

[7621 rows x 3 columns]

### DESCRIBE THE REQUIRED DATA

In [23]:
data_male_female.describe()

       Male(Individuals Vaccinated)  Female(Individuals Vaccinated)
count                       160.000                         160.000
mean                   44616867.862                    39510179.600
std                    39507492.966                    34176840.952
min                       23757.000                       24517.000
25%                     5739350.000                     5023407.250
50%                    37165905.000                    33654024.500
75%                    74416634.500                    66853682.250
max                   134941971.000                   115668447.000

In [24]:
data_states.describe()

       First Dose Administered  Second Dose Administered
count                 7621.000                  7621.000
mean               7414415.300               1773755.244
std               29952087.780               7570382.402
min                      7.000                     0.000
25%                 116632.000                 12831.000
50%                 661459.000                138818.000
75%                5387805.000               1166434.000
max              400150406.000             113077994.000

### Number of persons state wise vaccinated for first dose in India

In [25]:
print("THE STATE WISE VACCINE DATA IS : ")
print(data_states[['State','First Dose Administered']].groupby(['State']).sum())

THE STATE WISE VACCINE DATA IS :
                                          First Dose Administered
State
Andaman and Nicobar Islands                          16425854.000
Andhra Pradesh                                     1232860845.000
Arunachal Pradesh                                    49004980.000
Assam                                               585600226.000
Bihar                                              1470502878.000
Chandigarh                                           44703105.000
Chhattisgarh                                        796002902.000
Dadra and Nagar Haveli and Daman and Diu             33595063.000
Delhi                                               624339473.000
Goa                                                  75991368.000
Gujarat                                            2131646009.000
Haryana                                             755798352.000
Himachal Pradesh                                    316294004.000
India                                             28262144791.000
Jammu and Kashmir                                   410101777.000
Jharkhand                                           603673726.000
Karnataka                                          1873329968.000
Kerala                                             1193845072.000
Ladakh                                               17809249.000
Lakshadweep                                           4363655.000
Madhya Pradesh                                     1796604591.000
Maharashtra                                        2784364331.000
Manipur                                              67409568.000
Meghalaya                                            62615974.000
Mizoram                                              47873077.000
Nagaland                                             42410766.000
Odisha                                             1032633168.000
Puducherry                                           41346858.000
Punjab                                              584346582.000
Rajasthan                                          2201044187.000
Sikkim                                               36980929.000
Tamil Nadu                                         1288532512.000
Telangana                                           880320645.000
Tripura                                             192689726.000
Uttar Pradesh                                      2788411358.000
Uttarakhand                                         363191446.000
West Bengal                                        1796449989.000

### Number of persons state wise vaccinated for second dose in India

In [26]:
print("THE STATE WISE VACCINE DATA IS : ")
print(data_states[['State','Second Dose Administered']].groupby(['State']).sum())

THE STATE WISE VACCINE DATA IS :
                                          Second Dose Administered
State
Andaman and Nicobar Islands                         -112983397.000
Andhra Pradesh                                         6119715.000
Arunachal Pradesh                                     -6027693.000
Assam                                                  2021958.000
Bihar                                                  2276191.000
Chandigarh                                            -4261234.000
Chhattisgarh                                           2364161.000
Dadra and Nagar Haveli and Daman and Diu              -2506844.000
Delhi                                                  2919685.000
Goa                                                   -2698017.000
Gujarat                                                8748634.000
Haryana                                               -6127603.000
Himachal Pradesh                                      -1540958.000
India                                                113077994.000
Jammu and Kashmir                                       107234.000
Jharkhand                                               506188.000
Karnataka                                              5436838.000
Kerala                                                -1005868.000
Ladakh                                                -6356647.000
Lakshadweep                                             -53198.000
Madhya Pradesh                                         5716501.000
Maharashtra                                            6378914.000
Manipur                                              -11865860.000
Meghalaya                                               -14712.000
Mizoram                                                 -25209.000
Nagaland                                                -47385.000
Odisha                                                 4040706.000
Puducherry                                            -4048323.000
Punjab                                                 2133858.000
Rajasthan                                              6089427.000
Sikkim                                                -8223518.000
Tamil Nadu                                             4534496.000
Telangana                                              -720410.000
Tripura                                               -3161525.000
Uttar Pradesh                                          7711137.000
Uttarakhand                                           -6918664.000
West Bengal                                            7536389.000

### Number of Males vaccinated

In [28]:
no_male_vaccinated = data_male_female['Male(Individuals Vaccinated)'][159]
print("Number of Males vaccinated = ", no_male_vaccinated)

Number of Males vaccinated =  134941971.0

### Number of females vaccinated

In [29]:
no_female_vaccinated = data_male_female['Female(Individuals Vaccinated)'][159]
print("Number of Females vaccinated = ", no_female_vaccinated)

Number of Females vaccinated =  115668447.0