In [7]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [8]:
rating_df = pd.read_csv("Content_Based_Filtering_DataSets/ratings.csv")
rating_df.head()

   userId  movieId  rating   timestamp
0       1      169     2.5  1204927694
1       1     2471     3.0  1204927438
2       1    48516     5.0  1204927435
3       2     2571     3.5  1436165433
4       2   109487     4.0  1436165496

In [9]:
movies_df = pd.read_csv("Content_Based_Filtering_DataSets/movies.csv")
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [10]:
movies_df['year'] = movies_df.title.str.extract('(\(\d\d\d\d\))',expand = False)
movies_df['year'] = movies_df.year.str.extract('(\d\d\d\d)', expand = False)
movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')
movies_df['title'] = movies_df['title'].apply(lambda x : x.strip())
movies_df.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

In [11]:
movies_df = movies_df.drop("genres", 1)
movies_df

       movieId                        title  year
0            1                    Toy Story  1995
1            2                      Jumanji  1995
2            3             Grumpier Old Men  1995
3            4            Waiting to Exhale  1995
4            5  Father of the Bride Part II  1995
...        ...                          ...   ...
34203   151697                   Grand Slam  1967
34204   151701                   Bloodmoney  2010
34205   151703         The Butterfly Circus  2009
34206   151709                         Zero  2015
34207   151711        The 2000 Year Old Man  1975

[34208 rows x 3 columns]

In [12]:
rating_df = rating_df.drop("timestamp", 1)
rating_df

          userId  movieId  rating
0              1      169     2.5
1              1     2471     3.0
2              1    48516     5.0
3              2     2571     3.5
4              2   109487     4.0
...          ...      ...     ...
22884372  247753    49530     5.0
22884373  247753    69481     3.0
22884374  247753    74458     4.0
22884375  247753    76093     5.0
22884376  247753   130636     0.5

[22884377 rows x 3 columns]

In [ ]:
user_input = [
            {'title':'Breakfast Club, The', 'rating':5},
            {'title':'Toy Story', 'rating':3.5},
            {'title':'Jumanji', 'rating':2},
            {'title':"Pulp Fiction", 'rating':5},
            {'title':'Akira', 'rating':4.5}
         ]
input_movies = pd.DataFrame(user_input)
input_movies