In [2]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [3]:
rating_df = pd.read_csv("Content_Based_Filtering_DataSets/ratings.csv")
rating_df.head()

   userId   movieId  rating     timestamp
0       1     169.0     2.5  1.204928e+09
1       1    2471.0     3.0  1.204927e+09
2       1   48516.0     5.0  1.204927e+09
3       2    2571.0     3.5  1.436165e+09
4       2  109487.0     4.0  1.436165e+09

In [4]:
movies_df = pd.read_csv("Content_Based_Filtering_DataSets/movies.csv")
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
movies_df['year'] = movies_df.title.str.extract('(\(\d\d\d\d\))',expand = False)
movies_df['year'] = movies_df.year.str.extract('(\d\d\d\d)', expand = False)
movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')
movies_df['title'] = movies_df['title'].apply(lambda x : x.strip())
movies_df.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

In [6]:
movies_df = movies_df.drop("genres", 1)
movies_df

       movieId                        title  year
0            1                    Toy Story  1995
1            2                      Jumanji  1995
2            3             Grumpier Old Men  1995
3            4            Waiting to Exhale  1995
4            5  Father of the Bride Part II  1995
...        ...                          ...   ...
34203   151697                   Grand Slam  1967
34204   151701                   Bloodmoney  2010
34205   151703         The Butterfly Circus  2009
34206   151709                         Zero  2015
34207   151711        The 2000 Year Old Man  1975

[34208 rows x 3 columns]

In [7]:
rating_df = rating_df.drop("timestamp", 1)
rating_df

       userId   movieId  rating
0           1     169.0     2.5
1           1    2471.0     3.0
2           1   48516.0     5.0
3           2    2571.0     3.5
4           2  109487.0     4.0
...       ...       ...     ...
52566     592    4002.0     5.0
52567     593       1.0     4.5
52568     593     260.0     3.5
52569     593     296.0     5.0
52570      59       NaN     NaN

[52571 rows x 3 columns]

In [8]:
user_input = [
            {'title':'Breakfast Club, The', 'rating':5},
            {'title':'Toy Story', 'rating':3.5},
            {'title':'Jumanji', 'rating':2},
            {'title':"Pulp Fiction", 'rating':5},
            {'title':'Akira', 'rating':4.5}
         ]
input_movies = pd.DataFrame(user_input)
input_movies

                 title  rating
0  Breakfast Club, The     5.0
1            Toy Story     3.5
2              Jumanji     2.0
3         Pulp Fiction     5.0
4                Akira     4.5

In [9]:
input_id = movies_df[movies_df['title'].isin(input_movies['title'].tolist())]
input_movies = pd.merge(input_id, input_movies)
input_movies = input_movies.drop('year', 1)
input_movies

   movieId                title  rating
0        1            Toy Story     3.5
1        2              Jumanji     2.0
2      296         Pulp Fiction     5.0
3     1274                Akira     4.5
4     1968  Breakfast Club, The     5.0

In [10]:
user_subset = rating_df[rating_df['movieId'].isin(input_movies['movieId'].tolist())]
user_subset

       userId  movieId  rating
19          4    296.0     4.0
441        12   1968.0     3.0
479        13      2.0     2.0
531        13   1274.0     5.0
681        14    296.0     2.0
...       ...      ...     ...
52373     586      1.0     4.5
52379     586    296.0     4.5
52479     589    296.0     4.0
52567     593      1.0     4.5
52569     593    296.0     5.0

[460 rows x 3 columns]

In [ ]:
user_subset_group = user_subset.groupby(['userId'])

In [ ]:
user_subset_group.get_group(1130)

In [ ]:
user_subset_group = sorted(user_subset_group, key = lambda x : len(x[1]), reverse=True)